#include "i_const.inc"

LANGUAGE 0,0

MYSHOWS DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  LTEXT "Login"   , -1, 108,  2,  70, 16, SS_CENTERIMAGE
  EDITTEXT IDC_LOGIN  ,   4,  4, 100, 12,
  LTEXT "Password", -1, 108, 18,  70, 16, SS_CENTERIMAGE
  EDITTEXT IDC_PASS   ,   4, 20, 100, 12, ES_PASSWORD
  LTEXT "Attempts", -1,  40, 34,  64, 16, SS_CENTERIMAGE
  EDITTEXT IDC_TRIES  ,   4, 36,  32, 12, ES_RIGHT | ES_NUMBER
/*
  PUSHBUTTON "Get Series Info" , IDC_INFO_SERIES , 4, 166, 72, 16
  PUSHBUTTON "Get Episode Info", IDC_INFO_EPISODE, 4, 186, 72, 16

  CONTROL "", IDC_DATA_PIC, "STATIC", SS_BITMAP | WS_BORDER, 236, 2, 64, 64
  RTEXT    "Series", -1     ,  0,  70,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_SERIES  , 80,  71, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Episode",IDC_ALT,  0,  86,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_EPISODE , 80,  87, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Artists" , -1   ,  0, 102,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_ARTISTS , 80, 103, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Tags"  , -1     ,  0, 118,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_TAGS    , 80, 119, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Info"  , -1     ,  0, 134,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_INFO    , 80, 135, 220, 88, 
           ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL
*/
}

IDI_MYSHOWS ICON  "myshows.ico"
