#include "i_const.inc"

LANGUAGE 0,0

IDD_STRUCTURE DIALOGEX 0, 0, 332,184, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_THICKFRAME
CAPTION "Structure Editor"
//EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CONTROL ""      , IDC_DATA_FULL, "SysListView32",
                    WS_BORDER | WS_TABSTOP |
                    LVS_SHOWSELALWAYS | LVS_EDITLABELS | // LVS_NOCOLUMNHEADER |
                    LVS_SINGLESEL | LVS_REPORT,
                    2,  2, 160, 180, WS_EX_CONTROLPARENT
#ifdef Miranda
  CONTROL "New"   ,IDC_DATA_NEW   ,"MButtonClass",WS_TABSTOP,166, 2,16,16,$18000000// | WS_GROUP
  CONTROL "Up"    ,IDC_DATA_UP    ,"MButtonClass",WS_TABSTOP,166,22,16,16,$18000000
  CONTROL "Down"  ,IDC_DATA_DOWN  ,"MButtonClass",WS_TABSTOP,166,40,16,16,$18000000
  CONTROL "Delete",IDC_DATA_DELETE,"MButtonClass",WS_TABSTOP,166,60,16,16,$18000000
#else
  PUSHBUTTON "New"   ,IDC_DATA_NEW   ,166, 2,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Up"    ,IDC_DATA_UP    ,166,22,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Down"  ,IDC_DATA_DOWN  ,166,40,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Delete",IDC_DATA_DELETE,166,60,16,16, BS_ICON | BS_FLAT
#endif
  COMBOBOX                   IDC_DATA_TYPE   , 186,  2, 142, 96, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT                   IDC_DATA_LEN    , 186, 18,  32, 11
  LTEXT        "Data length"  ,-1            , 222, 18, 106, 11, SS_CENTERIMAGE
  EDITTEXT                      IDC_DATA_EDIT, 186, 32, 142, 11, ES_AUTOHSCROLL
  AUTOCHECKBOX "Use Variables", IDC_DATA_VARS, 186, 45, 142, 14
#ifdef Miranda
  AUTOCHECKBOX "Use MMI", IDC_DATA_MMI, 186, 45, 142, 14
#endif

  DEFPUSHBUTTON   "&Change", IDC_DATA_CHANGE, 186, 62,  46, 14//, WS_GROUP
  PUSHBUTTON      "&OK"    , IDOK           , 234, 62,  46, 14
  PUSHBUTTON      "C&ancel", IDCANCEL       , 282, 62,  46, 14

  RTEXT    "Data align",-1, 166, 78, 86, 14, SS_CENTERIMAGE
  COMBOBOX IDC_DATA_ALIGN , 256, 78, 72, 56, CBS_DROPDOWNLIST | WS_VSCROLL
//  AUTOCHECKBOX "Packed structure", IDC_DATA_PACKED, 166, 78, 162, 14

  CTEXT "Use Byte array/pointer for ANSI strings\n"\
        "Use Word array/pointer for Unicode strings\n\n"\
        "$## replaces by byte with hex value ##\n"\
        "$#### replaces by word with hex value #### (for Unicode strings only)\n\n"\
        "All data length calculating in bytes",
        IDC_DATA_HELP,166,94,162,88

}

IDI_NEW     ICON "ico\new.ico"
IDI_UP      ICON "ico\up.ico"
IDI_DOWN    ICON "ico\down.ico"
IDI_DELETE  ICON "ico\delete.ico"
