#include "frm_rc.inc"

LANGUAGE 0,0

FRAME DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 AUTOCHECKBOX "Show info in the frame"    , IDC_SHOWTEXT , 158,  2, 136, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT
 AUTOCHECKBOX "Show controls in the frame", IDC_SHOWCTRLS, 158, 16, 136, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT
 AUTOCHECKBOX "Show volume controls"      , IDC_SHOWVOLUM, 158, 30, 136, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT

 CONTROL      "",IDC_FRMALPHA,"msctls_trackbar32", TBS_BOTTOM|TBS_NOTICKS|$100,4,16,68,11
 LTEXT        "Alpha",-1,74,16,74,11, SS_CENTERIMAGE
 CONTROL      "",IDC_FRMCOLOR, "ColourPicker", WS_TABSTOP, 6, 30, 14, 14
 LTEXT        "Background color",-1,22,30,126,14, SS_CENTERIMAGE
 AUTOCHECKBOX "Use Picture",IDC_FRMUSEPIC,6,46,88,14,BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 EDITTEXT     IDC_FRMBKPIC, 96, 46, 180, 14
 PUSHBUTTON   "...", IDC_FRMPICBTN, 280, 46, 16, 14
 AUTOCHECKBOX "Use cover instead of picture", IDC_USECOVER, 6, 61, 142, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 CONTROL      "", -1, "STATIC", SS_ETCHEDHORZ, 10, 78, 282, 2
 AUTOCHECKBOX "Center horizontally"   , IDC_CENTERX ,   6,  80, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Center vertically"     , IDC_CENTERY ,   6,  96, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Bottom"                , IDC_BOTTOM  ,   6, 112, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Tile horizontally"     , IDC_TILEX   , 104,  80, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Tile vertically"       , IDC_TILEY   , 104,  96, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Right"                 , IDC_RIGHT   , 104, 112, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch to width"      , IDC_STRETCHX, 202,  80, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch to height"     , IDC_STRETCHY, 202,  96, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch proportionally", IDC_PROP    , 202, 112, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 CONTROL  "", -1, "STATIC", SS_ETCHEDHORZ, 10, 130, 282, 2
 AUTOCHECKBOX "Use styled trackbar", IDC_TRACKBAR,   6, 132, 136, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Show trackbar"      , IDC_SHOWBAR , 154, 132, 136, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 CONTROL  "", -1, "STATIC", SS_ETCHEDHORZ, 10, 148, 282, 2

 LTEXT    "Frame refresh time", -1, 200, 152, 100, 14, SS_CENTERIMAGE
 EDITTEXT IDC_TIMER, 154, 152, 40, 14, ES_RIGHT | ES_NUMBER

 AUTOCHECKBOX "Use buttons gap", IDC_BTNGAP, 154, 166, 142, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 AUTOCHECKBOX "Hide frame when player not found", IDC_HIDEFRAMEPLAYER, 154, 182, 142, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Hide frame when no music played" , IDC_HIDEFRAMEMUSIC , 154, 198, 142, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 CTEXT    "Cover padding", -1, 6, 152, 142, 14, SS_CENTERIMAGE
 EDITTEXT IDC_PADDING_LEFT  , 50, 184, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_TOP   , 64, 168, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_RIGHT , 78, 184, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_BOTTOM, 64, 200, 24, 14, ES_RIGHT | ES_NUMBER
}

FRAME2 DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 PUSHBUTTON "Choose font...", IDC_FRMFONT, 84, 90, 64, 12

 GROUPBOX "Text effect",-1,154,6,142,76
 AUTORADIOBUTTON "Cut",      IDC_EFF_CUT , 158, 16, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "Wrap",     IDC_EFF_WRAP, 158, 28, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "Roll",     IDC_EFF_ROLL, 158, 40, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "PingPong", IDC_EFF_PONG, 158, 52, 136, 12, NOT WS_TABSTOP
 AUTOCHECKBOX    "Align text to center", IDC_ALCENTER, 158, 66, 136, 12, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 GROUPBOX "Text movement", -1, 6, 6, 142, 76, WS_TABSTOP
 LTEXT    "Text rotation speed (1-20)", -1, 32, 17, 114, 12, SS_CENTERIMAGE
 LTEXT    "Scroll step"               , -1, 32, 33, 114, 12, SS_CENTERIMAGE
 LTEXT    "Scroll gap"                , -1, 32, 49, 114, 12, SS_CENTERIMAGE
 LTEXT    "Minimum scroll tail"       , -1, 32, 65, 114, 12, SS_CENTERIMAGE
 EDITTEXT IDC_TIMER   , 10, 17, 20, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_ROLLSTEP, 10, 33, 20, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_ROLLGAP , 10, 49, 20, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_ROLLTAIL, 10, 65, 20, 12, ES_RIGHT | ES_NUMBER

 CONTROL    "M" ,IDC_MACRO_HELP ,"MButtonClass",WS_TABSTOP,284,156,16,16,$18000000
 RTEXT      "Frame Text", -1   , 4, 163, 274, 10
 EDITTEXT   IDC_FRAME_TEXT     , 4, 174, 296, 48,
            ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
}

WAFRAME DIALOGEX 0, 0, 186, 66, 0
STYLE NOT WS_VISIBLE | DS_SETFONT | DS_FIXEDSYS | WS_CHILD// | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0
{
  CONTROL "",IDC_FRM_POS,"msctls_trackbar32",
     WS_VISIBLE | TBS_BOTH | TBS_NOTICKS,4,50,178,6//,WS_EX_TRANSPARENT
}
