#include "i_cnst_program.inc"

LANGUAGE 0,0

IDD_ACTPROGRAM DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  GROUPBOX        "Process options" , IDC_PROCESS_GROUP, 1, 4, 166, 46, WS_GROUP
  AUTORADIOBUTTON "Parallel"        , IDC_FLAG_PARALLEL, 4, 13, 161, 11
  AUTORADIOBUTTON "Continued"       , IDC_FLAG_CONTINUE, 4, 24, 161, 11
  EDITTEXT                            IDC_EDIT_PROCTIME, 4, 36,  31, 11, ES_RIGHT | ES_NUMBER
  LTEXT           "Process time, ms", IDC_STAT_PROCTIME, 37, 36, 128, 11, SS_CENTERIMAGE

  AUTOCHECKBOX    "Current path"    , IDC_FLAG_CURPATH, 4, 52, 161, 11

  GROUPBOX        "Window option"  , IDC_PRSTART_GROUP, 1,  63, 166, 55, WS_GROUP
  AUTORADIOBUTTON "Start normal"   , IDC_FLAG_NORMAL  , 4,  72, 162, 11
  AUTORADIOBUTTON "Start hidden"   , IDC_FLAG_HIDDEN  , 4,  83, 162, 11
  AUTORADIOBUTTON "Start minimized", IDC_FLAG_MINIMIZE, 4,  94, 162, 11
  AUTORADIOBUTTON "Start maximized", IDC_FLAG_MAXIMIZE, 4, 105, 162, 11

  CONTROL         "V", IDC_HLP_FVARS, "MButtonClass",WS_TABSTOP, 151,119,16,16,$18000000
  RTEXT           "Program path", IDC_STAT_PRGPATH, 1, 135, 160,  8
  AUTOCHECKBOX "", IDC_PRG_PRG,1,144,8,8,BS_ICON | BS_PUSHLIKE
  EDITTEXT                        IDC_EDIT_PRGPATH, 10, 144, 139, 12, ES_AUTOHSCROLL
  PUSHBUTTON      "..."         , IDC_PROGRAM     , 151, 144,  16, 12
  RTEXT           "Program args", IDC_STAT_PRGARGS, 1, 159, 160,  8
  AUTOCHECKBOX "", IDC_PRG_ARG,1,166,8,8,BS_ICON | BS_PUSHLIKE
  EDITTEXT                        IDC_EDIT_PRGARGS, 10, 168, 157, 12, ES_AUTOHSCROLL
}

IDI_PROGRAM   ICON "ico\program.ico"
