#include "resource.inc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_FRAME DIALOGEX 0, 0, 114, 16, 0
STYLE DS_SETFONT | WS_CHILD | DS_FIXEDSYS | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  PUSHBUTTON "En", IDC_FRAME_FROM  ,  2, 2, 13, 12
  PUSHBUTTON "-" , IDC_FRAME_SWITCH, 16, 4,  8, 8
  PUSHBUTTON "Ru", IDC_FRAME_TO    , 25, 2, 13, 12
  EDITTEXT         IDC_FRAME_EDIT  , 40, 2, 54, 12, ES_AUTOHSCROLL
  PUSHBUTTON "Go", IDC_FRAME_START , 96, 2, 15, 12
}
