#include "resource.inc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_OPT_HISTORYPP DIALOGEX 0, 0, 314, 240
STYLE DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS SHELL DLG"
{
  CONTROL "Appearance options"         , ID_APPEARANCE_GROUP, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 6, 302, 35
  CONTROL "Show event icons"           , IDC_SHOWEVENTICONS , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  12, 16, 140, 11
  CONTROL "Use RTL by default"         , IDC_RTLDEFAULT     , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  12, 26, 140, 11
  CONTROL "Open event details by Enter", IDC_OPENDETAILS    , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 16, 140, 11
  CONTROL "Show events count in menu"  , IDC_SHOWEVENTSCOUNT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 26, 140, 11
  //CONTROL "Show avatars", IDC_SHOWAVATARS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 36, 140, 11

  CONTROL "Formatting options"       , ID_FORMATTING_GROUP, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 44, 302, 45
  CONTROL "Enable BBCodes"           , IDC_BBCODE         , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  12, 54, 140, 11
  CONTROL "Enable SmileyAdd support" , IDC_SMILEY         , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  12, 64, 140, 11
  CONTROL "Enable raw RTF support"   , IDC_RAWRTF         , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 54, 140, 11
  CONTROL "Display changed avatars"  , IDC_AVATARSHISTORY , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 64, 140, 11
                                                                                                            
  CONTROL "Message log options", ID_MESSAGELOG_GROUP, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 160, 92, 148, 55
  CONTROL "Imitate IEView API" , IDC_IEVIEWAPI      , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 102, 140, 11
  CONTROL "Group messages"     , IDC_GROUPLOGITEMS  , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 112, 140, 11
  CONTROL "Disable border"     , IDC_DISABLEBORDER  , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 122, 140, 11
  CONTROL "Disable scroll bar" , IDC_DISABLESCROLL  , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 132, 140, 11

  CONTROL "History view options", ID_HISTORYVIEW_GROUP, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 92, 148, 55
  CONTROL "Recent events on top", IDC_RECENTONTOP     , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 102, 140, 11
  CONTROL "Group messages"      , IDC_GROUPHISTITEMS  , BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 112, 140, 11

  CONTROL "Another options", -1          , BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 152, 148, 55
  CONTROL "Check Icon Pack", IDC_ICONPACK, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  12, 162, 140, 11
//  CONTROL "Visit Wiki page for more options", ID_NEEDOPTIONS_LINK, "Hyperlink", WS_CHILD | WS_TABSTOP | 0x1, 23, 217, 268, 10

//  CONTROL "Please restart Miranda IM for your changes to take effect.", ID_NEED_RESTART, STATIC, SS_CENTER | NOT WS_VISIBLE, 6, 230, 302, 10
}

IDD_OPT_HISTORYPP2 DIALOGEX 0, 0, 314, 240
STYLE DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS SHELL DLG"
{
  LTEXT    "Copy Format"      , -1, 16,  15, 260, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_COPY          , 10,  30, 292, 12, ES_AUTOHSCROLL
  LTEXT    "Copy Text Format" , -1, 16,  47, 284, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_COPYTEXT      , 10,  62, 292, 12, ES_AUTOHSCROLL
  LTEXT    "Reply Quoted"     , -1, 16,  79, 260, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_QUOTED        , 10,  94, 292, 12, ES_AUTOHSCROLL
  LTEXT    "Reply Quoted Text", -1, 16, 111, 260, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_QUOTEDTEXT    , 10, 126, 292, 12, ES_AUTOHSCROLL
  LTEXT    "Selection"        , -1, 16, 143, 260, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_SELECTION     , 10, 158, 292, 12, ES_AUTOHSCROLL

  CONTROL "?"  ,IDC_TMPL_HELP   ,"MButtonClass",WS_TABSTOP,286,12,16,16,$18000000
  GROUPBOX "Text templates", -1, 4, 4, 305, 174

  LTEXT    "DateTime Format", -1, 16,  191, 260, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TMPL_DATETIME    , 10,  206, 292, 12, ES_AUTOHSCROLL

  CONTROL "?"  ,IDC_DATE_HELP   ,"MButtonClass",WS_TABSTOP,286,188,16,16,$18000000
  GROUPBOX "Datetime templates", -1, 4, 180, 305, 54
}
