#include "i_cnst_database.inc"

LANGUAGE 0,0

IDD_ACTDATABASE DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  AUTORADIOBUTTON "Own settings", IDC_RW_CURRENT,  1,  0, 81, 11, BS_RIGHT | BS_LEFTTEXT | WS_GROUP
  AUTORADIOBUTTON "Manual"      , IDC_RW_MANUAL ,  1, 12, 81, 11, BS_RIGHT | BS_LEFTTEXT
  AUTORADIOBUTTON "Parameter"   , IDC_RW_PARAM  , 86,  0, 81, 11
  AUTORADIOBUTTON "Last result" , IDC_RW_RESULT , 86, 12, 81, 11

  RTEXT           "Module"      , -1  , 1,  25, 160,  8, SS_CENTERIMAGE
//  AUTOCHECKBOX "", IDC_RW_MVAR,135,84,8,8,BS_ICON | BS_PUSHLIKE
  EDITTEXT                        IDC_RW_MODULE , 1,  34, 166, 12, ES_AUTOHSCROLL
  RTEXT           "Setting"     , -1  , 1,  49, 160,  8, SS_CENTERIMAGE
//  AUTOCHECKBOX "", IDC_RW_SVAR,135,108,8,8,BS_ICON | BS_PUSHLIKE
  EDITTEXT                        IDC_RW_SETTING, 1, 58, 166, 12, ES_AUTOHSCROLL

  GROUPBOX        "Operation"   , -1   , 1, 74, 166, 23, WS_GROUP
  AUTORADIOBUTTON "Read"        , IDC_RW_READ   ,   4, 83,  52, 11
  AUTORADIOBUTTON "Write"       , IDC_RW_WRITE  ,  57, 83,  52, 11
  AUTORADIOBUTTON "Delete"      , IDC_RW_DELETE , 110, 83,  52, 11

  GROUPBOX        "Value"       , -1    , 1, 98, 166, 76, WS_GROUP

  COMBOBOX                       IDC_RW_DATATYPE, 86, 107,  79, 96,
                                 CBS_DROPDOWNLIST | WS_VSCROLL

  AUTOCHECKBOX    "Last result" , IDC_RW_LAST   , 6, 131, 156, 11, BS_RIGHT | BS_LEFTTEXT
  EDITTEXT                        IDC_RW_VALUE  , 15, 143, 147, 11, ES_AUTOHSCROLL | ES_RIGHT// | ES_NUMBER
//  AUTOCHECKBOX "", IDC_RW_TVAR,140,191,8,8,BS_ICON | BS_PUSHLIKE
  EDITTEXT                        IDC_RW_TEXT   , 15, 143, 147, 29,
                                  ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
}

IDI_DATABASE   ICON "ico\rw.ico"
